.cor_aluno1 {
    background-color: #82D153;
    
}

.cor_aluno2 {
    background-color: #8BCC65;
    
}

.cor_aluno3 {
    background-color: #569E2C;
    
}

.cor_aluno4 {
    background-color: #296207;
    
}

.cor_aluno5 {
    background-color: #2C5D0F;
    
}


.cor_professor1 {
    background-color: #3B958B;
}

.cor_professor2 {
    background-color: #489189;
}

.cor_professor3 {
    background-color: #1F7068;
}

.cor_professor4 {
    background-color: #05463F;
}

.cor_professor5 {
    background-color: #0B423C;
}

.cor_gestao1 {
    background-color: #EF9D5F;
    
}

.cor_gestao2 {
    
    background-color: #E9A574;
}

.cor_gestao3 {
    background-color: #B56A32;
    
}

.cor_gestao4 {
    background-color: #703408;
    
}

.cor_gestao5 {
    background-color: #6A3712;
    
}

.cor_secretaria1 {
    background-color: #DC5876;
    
}

.cor_secretaria2 {
    background-color: #D66A83;
    
}

.cor_secretaria3 {
    
    background-color: #A62E4A;
}

.cor_secretaria4 {
    background-color: #67071E;
    
}

.cor_secretaria5 {
    background-color: #621023;
    
}

.cor_geral1 {
    background-color: #8695C6;
}

.cor_geral2 {
    background-color: #586AA6;
}

.cor_geral3 {
    background-color: #3B4E8F;
}

.cor_geral4 {
    background-color: #25397A;
}

.cor_geral5 {
    background-color: #132561;
}